
.page_margins {
    TEXT-ALIGN: left; MARGIN: 0px auto; WIDTH: 1000px; BACKGROUND: #fff
}

BODY {
    TEXT-ALIGN: center; BACKGROUND: url(/news/assets/v5/images/common/bg-page.png) #d8dcdf no-repeat 50% 30px; FONT-SIZE: 75%
}

BODY {
    FONT-FAMILY: Verdana,"Lucida Grande","Bitstream Vera Sans",Helvetica,Arial,sans-serif
}

H2 {
    PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.5em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 1em; PADDING-TOP: 0px
}
H2 {
    FONT-SIZE: 1.5em
}
#beforeafter .section {
    POSITION: relative; MARGIN-TOP: 2em
}
#beforeafter .section P.source {
    POSITION: absolute; COLOR: #999; FONT-SIZE: 7pt; TOP: 0.5em; RIGHT: 0px
}
.beforeafter {
    POSITION: relative; OVERFLOW: hidden
}
.before {
    POSITION: absolute; TOP: 0px; LEFT: 0px
}
.after {
    POSITION: absolute; TOP: 0px; LEFT: 0px
}
.before {
    BORDER-RIGHT: #000 5px solid; -moz-box-shadow: 1px 0 20px #222; -webkit-box-shadow: 1px 0 20px #222; box-shadow: 1px 0 20px #222
}
.help {
    POSITION: absolute; BOTTOM: 20px; FONT: bold 20px/1em Helvetica, Arial, sans-serif; COLOR: #fff; RIGHT: 70px; opacity: 0.7
}